@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
  font-family: 'Ubuntu';
}
.my-color{
  background-color: #212529 !important;
}
.a{
  color: #fff !important;
}
.espac{
  text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #43aea3 !important;
}
.btn-primary {
    background-color: #43aea3 !important;
    border-color: #43aea3 !important;
}
.butt{
  margin-bottom: 12px;
}
.button-a{
    -webkit-appearance: none !important;
}
.marg-top-8{
  margin-top: 8px;
}
.menss{
  display: block;
  text-align: center;
  color: #da0007;
  font-size: 20px;
}
